// COLOR PALLETE
$primary: #03a9f4;
$primary-light: #29B6F6;

$black: #000000;
$light-gray: #F0F0F0;
$medium-gray: #A0A0A0;
$dark-gray: #404040;
$white: #FFFFFF;

// VARIABLES
$footer-height: 130px;


// FONTS

@import url('https://fonts.googleapis.com/css?family=Francois+One|Arimo:400,400i,700,700i|Roboto+Mono');
$font-body: 'Arimo', sans-serif;
$font-title: 'Francois One', sans-serif;
$font-code: 'Roboto Mono', Menlo, Monaco, Consolas, "Courier New", monospace;

@import 'style';
